/* Write your CSS here. */
.pf {
  display: grid;
}

.wgs {
  display: inline-block;
  height: 241px;
  position: relative;
  width: 320px;
  overflow: hidden;
}

.wgs__mole-head {
  height: ;
  position: absolute;
  width: 188px;
  left: 55px;
  transition: margin-top;
  transition-duration: .25s;
}

.wgs__dirt-pile {
  height: 110px;
  position: absolute;
  width: 320px;
  bottom: 0;
}

.wgs__mole-head--hidden {
  margin-top: 241px;
}
